@import "tailwindcss";

@theme {
  /* Colors */
  --color-pistachio-50: #f5fce9;
  --color-pistachio-100: #e8f8c8;
  --color-pistachio-200: #d4f19d;
  --color-pistachio-300: #b8e567;
  --color-pistachio-400: #9dd63a;
  --color-pistachio-500: #7fba1f;
  --color-pistachio-600: #629415;
  --color-pistachio-700: #4a7115;
  --color-pistachio-800: #3d5916;
  --color-pistachio-900: #344b16;

  /* Typography */
  --font-sans: ui-sans-serif, system-ui, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.3;
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.4;
}

h4 {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.4;
}

p {
  font-size: 1rem;
  line-height: 1.6;
}

button {
  font-size: 1rem;
  line-height: 1.5;
}
